.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-container.text-container {
  max-width: calc(100% - 150px) !important;
  padding-bottom: 24px;
}

.hidden {
  display: none;
}

.rotate-arrow {
  transform: rotate(90deg);
}

.rotate-tail-arrow {
  transform: rotate(-90deg);
}

.landing-container {
  background: rgb(0, 128, 128);
  background: -moz-linear-gradient(
    54deg,
    rgba(0, 128, 128, 1) 28%,
    rgba(14, 110, 184, 1) 100%
  );
  background: -webkit-linear-gradient(
    54deg,
    rgba(0, 128, 128, 1) 28%,
    rgba(14, 110, 184, 1) 100%
  );
  background: linear-gradient(
    54deg,
    rgba(0, 128, 128, 1) 28%,
    rgba(14, 110, 184, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008080",endColorstr="#0e6eb8",GradientType=1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  color: white;
}

.animated-svg {
  width: 80%;
}

.stack-backed-by {
  width: 60%;
}

@media only screen and (max-width: 480px) {
  .text-container.text-container {
    max-width: 100% !important;
  }
  .animated-svg {
    width: 100%;
  }
  .stack-backed-by {
    width: 100%;
  }
}
